@import url('https://fonts.googleapis.com/css2?family=Langar&family=Quicksand&family=Roboto+Slab&family=Space+Grotesk:wght@500&display=swap');

$offwhite: #EEE8D6;
$darkblue: #022933;
$color-headlines: red;
$color-item-border: red;
$color-media-head: purple;
$color-main: $darkblue;
$color-backgrounds: $offwhite;

$font-main: 'Space Grotesk', Helvetica, sans-serif;
$font-highlight: 'Quicksand', Helvetica, sans-serif;